body {
    background-color: #bfd1d9;
    font-family: "Georgia", serif;
}

.centro {
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.4);
    width: 450px;
    margin: 120px auto;
    padding: 40px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}


.centro h2 {
    text-align: center;
    color: #025e73;
    margin-bottom: 25px;
    font-size: 26px;
}


.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}


.form-group label {
    margin-bottom: 6px;
    font-size: 17px;
    color: #003f52;
}


.form-group input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #b3c6cc;
    outline: none;
    font-size: 15px;
}

.form-group input:focus {
    border-color: #025e73;
    box-shadow: 0 0 5px rgba(2, 94, 115, 0.4);
}
